

.intro__lists{
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0 148px 40px;
    max-width: 55%;
    padding: 0;
}


@media screen and (max-width: 1024px) {
    .intro__lists{
        margin: 0 48px 40px;
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .intro__lists{
        margin: 0 24px 80px 24px;
        max-width: 100%;
    }
}    

    @media screen and (max-width: 320px) {
        .intro__lists{
            margin: 0 16px 32px 16px;
        }
    }    