@import url(./__lang-link/header__lang.css);
@import url(./__logo/header__logo.css);

.header{
    display: grid;
    grid-template-columns: 87% 5% 5%; 
    margin: 0 auto 0;
    width: 90%;
    gap: 15px;
    padding-top: 28px;
    max-width: 1184px;
}


@media (max-width: 767px) {
    .header{
        grid-template-columns: 65% 20% 10%; 
        width: 95%;
        margin-bottom: 48px;
        padding-top: 16px;
    }
}
