.lead__title{
    position: static;
        width: 100%;
        font-weight: bold;
        margin: 56px auto 32px;
    
        text-align: center;
        font-family: "Inter",Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 96px;
        line-height: 100px;
        text-align: center;
        color: #FFFFFF;
    }