.place__paragraph{
    align-self: start;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
margin: 0;
color: #FFFFFF;

}

@media screen and (max-width: 768px) {
    .place__paragraph{
        
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
    }

    @media screen and (max-width: 320px) {
        .place__paragraph{
        margin: 32px 16px 0px;
        }