@import url(./__paragraph_top/place__paragraph_top.css);
@import url(./__paragraph_bottom/place__paragraph_bottom.css);

.place__paragraph{
    align-self: start;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 100%;

}

@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph{
        width: 86%;
    }
}