
.place__paragraph{
    align-self: start;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
}
.place__paragraph:last-child{
    align-self: start;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 100%;
    margin-top: -18px;
}

@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
        line-height: 163%;
    }
    .place__paragraph:last-child{
        font-size: 16px;
        line-height: 163%;
        margin-top: -18px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph{
        width: 86%;
        margin: auto;
    }
    .place__paragraph:last-child{
        width: 86%;
        font-size: 16px;
        line-height: 163%;
        margin: 20px auto 0;
    }
}