.cover__overlay{
    position: relative;
    max-width: 100%;
    min-height: 740px;
    display: flex; 
    flex-direction: column;
    background-image: url(../../../images/cover-trains.jpg);
    background-size:cover;
    margin: 0 48px 0 48px;
    text-decoration: none;
}

.cover__overlay::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: .3;
}

.cover__overlay:hover::before{
    background-color: #2A2C2F;
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay{
        min-height: 640px;
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .cover__overlay{
        min-height: 480px;
    }
}
    @media screen and (max-width: 320px) {
        .cover__overlay{
            min-height: 200px;
        }
    }