.cover__title{
    margin: 266px auto 0;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    max-width: 560px;
    color: #FFFFFF;
    z-index: 1;
    }

    @media screen and (max-width: 768px) {
        .cover__title{
            margin: 115px auto 0;
            font-size: 10vw;
        }
    }
    
    @media screen and (max-width: 320px) {
        .cover__title{
            margin: 33px auto 0;
            font-size: 32px;
            line-height: 35px;
        }
    }