@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);



.place{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    max-width: 984px;
    margin: 0 auto 80px;
    column-gap: 17px;
    row-gap: 48px;
    margin-bottom: 80px;
    
}

@media (max-width: 1024px) {
    .place{
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        max-width:  100%;
        margin: 0 48px 80px 48px;
        column-gap: 18px;
        row-gap: 38px;
    }
}

@media (max-width: 768px) {
    .place{
        grid-template-columns: repeat(auto-fill, minmax(222px, 1fr));
        max-width:  100%;
        margin: 0 24px 50px 24px;
        column-gap: 28px;
    }
}
@media (max-width: 320px) {
    .place{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0 auto 0;
        column-gap: 0px;
        row-gap: 32px;
        margin-bottom: 0;
    }
}