@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);


.footer{
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 90px 48px 0;
    padding-bottom: 24px;
}

@media (min-width: 1441px) {
    .footer{
        margin: 92px auto 0;
    }
}

@media (max-width: 1024px) {
    .footer{
        margin: 90px 48px 0;
    }
}

@media (max-width: 720px) {
    .footer{
    margin: 90px 24px 0;
    }
}

@media (max-width: 320px) {
    .footer{
        flex-direction: column;
        margin:  64px 16px 0;
    }
}