.place__paragraph_bottom {
    margin-top: -90px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph_bottom{
        margin-top: -18px;

    }
}

@media screen and (max-width: 768px) {
    .place__paragraph_bottom{
        margin-top: -18px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph_bottom{
        margin: 24px auto 0; 
    }
}